<%- include('header2', {title: 'You have joined...'}); %> 

<div class="container">
  <div class="row">
    <div class='col'>
      <h3 class="text_muted mb-3 mt-3">You have successfully joined the group.</h3>

      <a href="/"><button type="button" class="btn btn-secondary btn-small ">Continue browsing...</button></a>
    </div>

  </div>
</div>

<%- include('footer'); %>